apiVersion: v1
kind: Secret
metadata:
    name: minio-secret
stringData:
    MINIO_ROOT_USER: "#{ minio.root_user }#"
    MINIO_ROOT_PASSWORD: "#{ minio.root_password }#"
    openid-config-url: "#{ minio.openid_config_url }#"
    openid-config-client-id: "#{ minio.openid_config_client_id }#"
    openid-config-client-secret: "#{ minio.openid_config_client_secret }#"
    openid-config-scopes: "openid,email,profile,minio"
    openid-config-callback-uri: "#{ minio.openid_config_callback_uri }#"
