---
apiVersion: v1
kind: Secret
metadata:
    name: actions-runner-controller-auth-secrets
stringData:
  ACTION_RUNNER_CONTROLLER_GITHUB_APP_ID: |-
    #{ action_runner_controller_github_app_id }#
  ACTION_RUNNER_CONTROLLER_GITHUB_INSTALLATION_ID: |-
    #{ action_runner_controller_github_installation_id }#
  ACTION_RUNNER_CONTROLLER_GITHUB_WEBHOOK_SECRET_TOKEN: |-
    #{ action_runner_controller_github_webhook_secret_token }#
  ACTION_RUNNER_CONTROLLER_GITHUB_PRIVATE_KEY: |
    #% filter indent(width=4, first=False) %#
    #{ action_runner_controller_github_private_key }#
    #%- endfilter %#

