apiVersion: zfs.openebs.io/v1
kind: ZFSVolume
metadata:
  name: media
  finalizers:
    - cluster.local/data-protection
spec:
  capacity: "4398046511104" # 4 TiB
  fsType: zfs
  ownerNodeID: k8s-0
  poolName: k8s-0-library
  volumeType: DATASET
  shared: "no"
  thinProvision: "yes"
