---
apiVersion: v1
kind: Secret
metadata:
    name: nextcloud-secret
stringData:
    ADMIN_USER: "#{ nextcloud_user }#"
    ADMIN_PASS: "#{ nextcloud_password }#"
    REDIS_PASSWORD: "#{ nextcloud_redis_password }#"
    S3_ACCESS_KEY: "#{ aws_access_id }#"
    S3_SECRET_KEY: "#{ aws_secret_access_key }#"


    SMTP_USERNAME: "#{ smtp_relay_username }#"
    SMTP_PASSWORD: "#{ smtp_relay_password }#"
    TOKEN: ""
    SMTP_HOST: smtp-relay.network.svc.cluster.local

    OIDC_CLIENT_ID:  "#{ netcloud_client_id }#"
    OIDC_CLIENT_SECRET: "#{ netcloud_client_secret }#"
    # Postgres Init
    INIT_POSTGRES_DBNAME: nextcloud
    INIT_POSTGRES_HOST:  postgres-rw.database.svc.cluster.local
    INIT_POSTGRES_USER: "#{ cloudnative_user }#"
    INIT_POSTGRES_PASS:  "#{ cloudnative_password }#"
    INIT_POSTGRES_SUPER_PASS: "#{ cloudnative_password }#"

