---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
spec:
  chartRef:
    kind: OCIRepository
    name: app-template
  interval: 30m
  upgrade:
    remediation:
      strategy: uninstall
  values:
    defaultPodOptions:
      runtimeClassName: nvidia
      enableServiceLinks: false
      annotations:
        reloader.stakater.com/auto: "true"

    controllers:
      jellyfin:
        type: statefulset

        containers:
          app:
            image:
              repository: registry.skysolutions.fi/docker.io/jellyfin/jellyfin
              tag: 10.11.5
            env:
              DOTNET_SYSTEM_IO_DISABLEFILELOCKING: "true"
              JELLYFIN_FFmpeg__probesize: "50000000"
              JELLYFIN_FFmpeg__analyzeduration: "500000000"
              # Decoding requires these packages on Ubuntu 22.04
              # libnvidia-decode-550-server libnvidia-encode-550-server
              # As well as the normal nvidia drivers, runtime AND toolkit (later of which is handled by the nvidia GPU operator)
              NVIDIA_VISIBLE_DEVICES: all
              NVIDIA_DRIVER_CAPABILITIES: all
            resources:
              limits:
                nvidia.com/gpu: 1
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
        pod:
          # nodeSelector:
          #   nvidia.feature.node.kubernetes.io/gpu: "true"
          runtimeClassName: nvidia
          securityContext:
            fsGroup: 0
            fsGroupChangePolicy: "OnRootMismatch"
            runAsGroup: 0
            runAsNonRoot: false
            runAsUser: 0

    service:
      jellyfin:
        controller: jellyfin
        type: LoadBalancer
        externalTrafficPolicy: Cluster
        ports:
          http:
            port: &port 8096

    route:
      jellyfin:
        hostnames: ["jelly.${SECRET_DOMAIN}"]
        parentRefs:
          - name: envoy-external
            namespace: network
            sectionName: https
        rules:
          - backendRefs:
              - identifier: jellyfin
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/description: Media Collection
          gethomepage.dev/group: Media
          gethomepage.dev/name: Jellyfin
          gethomepage.dev/icon: sh-jellyfin
          gethomepage.dev/widget.url: "http://jellyfin.media.svc.cluster.local:8096"
          gethomepage.dev/widget.type: jellyfin
          gethomepage.dev/widget.key: "${JELLYFIN_API}"
          gethomepage.dev/widget.version: "2"
          gethomepage.dev/widget.enableBlocks: true # optional, defaults to false
          gethomepage.dev/widget.enableNowPlaying: true # optional, defaults to true
          gethomepage.dev/widget.enableUser: true # optional, defaults to false
          gethomepage.dev/widget.showEpisodeNumber: true # optional, defaults to false
    persistence:
      config:
        existingClaim: ${APP}
        globalMounts:
          - path: /config
      movies:
        type: nfs
        server: ${SECRET_NFS_SVC}
        path: /media/movies
        # globalMounts:
        #   - path: /media/movies
      tv:
        type: nfs
        server: ${SECRET_NFS_SVC}
        path: /media/tv
        # globalMounts:
        #   - path: /media/tv
      music:
        type: nfs
        server: ${SECRET_NFS_SVC}
        path: /media/music
        # globalMounts:
        #   - path: /media/music
      tmp:
        type: emptyDir
        advancedMounts:
          jellyfin:
            app:
              - path: /tmp
              - path: /cache
                subPath: cache
              - path: /transcode
                subPath: transcode
#       dri:
#         type: hostPath
#         hostPath: /dev/dri
#         globalMounts:
#           - path: /dev/dri
