---
apiVersion: v1
kind: Secret
metadata:
  name: immich-secret
stringData:
  # App
  DB_DATABASE_NAME: immich
  DB_HOSTNAME: postgres-rw.database.svc.cluster.local
  DB_USERNAME: "#{ cloudnative_user }#"
  DB_PASSWORD:  "#{ cloudnative_password }#"
  JWT_SECRET: "#{ immich_jwt_secret }#"
  # TYPESENSE_API_KEY: "${TYPESENSE_API_KEY}"
  # Postgres Init
  INIT_POSTGRES_DBNAME: immich
  INIT_POSTGRES_HOST: postgres-rw.database.svc.cluster.local
  INIT_POSTGRES_USER: "#{ cloudnative_user }#"
  INIT_POSTGRES_PASS: "#{ cloudnative_password }#"
  INIT_POSTGRES_SUPER_PASS: "#{ cloudnative_password }#"
