---
apiVersion: v1
kind: Secret
metadata:
    name: open-webui
stringData:
  OAUTH_CLIENT_ID: "#{ open_webui.client_id }#"
  OAUTH_CLIENT_SECRET: "#{ open_webui.client_secret }#"
  OPENID_PROVIDER_URL: "#{ open_webui.redirect }#"
  OPENID_REDIRECT_URI: "https://chad.${SECRET_DOMAIN}/oauth/oidc/callback"
  DATABASE_HOST: postgres-rw.database.svc.cluster.local
  DATABASE_NAME: open-webui
  DATABASE_PASSWORD: "#{ cloudnative.password }#"
  DATABASE_USER: "#{ cloudnative.username }#"
  WEBUI_SECRET_KEY: "#{ open_webui.client_secret }#"
  INIT_POSTGRES_DBNAME: open-webui
  INIT_POSTGRES_HOST:  postgres-rw.database.svc.cluster.local
  INIT_POSTGRES_USER: "#{ cloudnative.username }#"
  INIT_POSTGRES_PASS:  "#{ cloudnative.password }#"
  INIT_POSTGRES_SUPER_PASS: "#{ cloudnative.password }#"
  INIT_POSTGRES_SUPER_USER: "#{ cloudnative.username }#"
