---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: v1
kind: Secret
metadata:
  name: "${APP}-volsync-r2"
type: Opaque
stringData:
  RESTIC_REPOSITORY: 's3:http://minio.storage.svc.cluster.local:9000/flux-volsync/${APP}'
  RESTIC_PASSWORD: "#{ aws_secret_access_key }#"
  AWS_ACCESS_KEY_ID: "#{ aws_access_id }#"
  AWS_SECRET_ACCESS_KEY: "#{ aws_secret_access_key }#"
