---
apiVersion: v1
kind: Secret
metadata:
  name: cloudnative-pg
  labels:
      cnpg.io/reload: "true"
stringData:
    aws-access-key-id: "#{ s3.aws_access_id }#"
    aws-secret-access-key: "#{ s3.aws_secret_access_key }#"
    username: "#{ cloudnative.username }#"
    password: "#{ cloudnative.password }#"
