---
apiVersion: v1
kind: Secret
metadata:
  name: cloudnative-pg
  labels:
      cnpg.io/reload: "true"
stringData:
    aws-access-key-id: "#{ aws_access_id }#"
    aws-secret-access-key: "#{ aws_secret_access_key }#"
    username: "#{ cloudnative_user }#"
    password: "#{ cloudnative_password }#"
