---
apiVersion: v1
kind: Secret
metadata:
    name: loki
stringData:
    BUCKET_NAME: loki
    BUCKET_HOST: http://minio.storage.svc.cluster.local:9000
    AWS_ACCESS_KEY_ID: "#{ aws_access_id }#"
    AWS_SECRET_ACCESS_KEY: "#{ aws_secret_access_key }#"
