---
apiVersion: v1
kind: Secret
metadata:
    name: grafana-admin-secret
stringData:
    openid-config-client-id: "#{ grafana_client_id }#"
    openid-config-client-secret: "#{ grafana_client_secret }#"
