---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: database
components:
  - ../../components/sops
  - ../../components/repos
  - ../../components/volsync
resources:
  - ./namespace.yaml
  - ./obsidian-couchdb/ks.yaml
  - ./cloudnative-pg/ks.yaml
  - ./dragonfly/ks.yaml
  - ./pgadmin/ks.yaml
