---
apiVersion: v1
kind: Secret
metadata:
    name: steam
type: Opaque
stringData:
    USER_PASSWORD: "#{ paperless_admin_user }#"
    SUNSHINE_USER: "#{ paperless_admin_password }#"
    SUNSHINE_PASS: "#{ paperless_admin_password }#"
