---
- Communicate:
    - Gmail:
        - icon: gmail.png
          href: "http://gmail.com"
          target: _self
- Media:
    - YouTube:
        - icon: youtube.png
          href: "https://youtube.com/feed/subscriptions"
          target: _self
- Reading:
    - Reddit:
        - icon: reddit.png
          href: "https://reddit.com"
          target: _self
- Git:
    - kubesearch:
        - icon: kubernetes-dashboard.png
          href: "https://kubesearch.dev/"
          target: _self
    - homelab:
        - icon: github.png
          href: "https://github.com/fiqrimasngot/k3s"
          target: _self
    - onedr0p-home-ops:
        - icon: github.png
          href: "https://github.com/onedr0p/home-ops"
          target: _self
    - bjw-s-home-ops:
        - icon: github.png
          href: "https://github.com/bjw-s/home-ops"
          target: _self
    - bjw-s-helm-charts:
        - icon: github.png
          href: "https://github.com/bjw-s/helm-charts"
          target: _self
