---
apiVersion: v1
kind: Secret
metadata:
    name: paperless
stringData:
    INIT_POSTGRES_DBNAME: paperless
    INIT_POSTGRES_HOST: postgres-rw.database.svc.cluster.local
    INIT_POSTGRES_USER: "#{ cloudnative_user }#"
    INIT_POSTGRES_PASS: "#{ cloudnative_password }#"
    INIT_POSTGRES_SUPER_PASS: "#{ cloudnative_password }#"
    PAPERLESS_DBPASS: "#{ cloudnative_password }#"
    PAPERLESS_DBUSER: "#{ cloudnative_user }#"
    PAPERLESS_DBNAME: paperless
    PAPERLESS_ADMIN_USER: "#{ paperless_admin_user }#"
    PAPERLESS_ADMIN_PASSWORD: "#{ paperless_admin_password }#"
    PAPERLESS_SECRET_KEY: "#{ paperless_secret_key }#"
    PAPERLESS_SOCIALACCOUNT_PROVIDERS: |
          {
            "openid_connect": {
              "APPS": [
                {
                  "provider_id": "authentik",
                  "name": "Authentik",
                  "client_id": "#{ paperless_client_id }#",
                  "secret": "#{ paperless_client_secret }#",
                  "settings": {
                    "server_url": "https://auth.#{ cloudflare_domain }#/application/o/paperless/.well-known/openid-configuration"
                  }
                }
              ]
            }
          }

