---
apiVersion: v1
kind: Secret
metadata:
    name: open-webui
stringData:
  OAUTH_CLIENT_ID: "#{ open_webui_client_id }#"
  OAUTH_CLIENT_SECRET: "#{ open_webui_client_secret }#"
  OPENID_PROVIDER_URL: "#{ open_webui_redirect }#"
