---
apiVersion: v1
kind: Secret
metadata:
    name: open-webui
stringData:
  OAUTH_CLIENT_ID: "#{ open_webui_client_id }#"
  OAUTH_CLIENT_SECRET: "#{ open_webui_client_secret }#"
  OPENID_PROVIDER_URL: "#{ open_webui_redirect }#"
  OPENID_REDIRECT_URI: "https://chad.${SECRET_DOMAIN}/oauth/oidc/callback"
  DATABASE_URL: postgres-rw.database.svc.cluster.local
  WEBUI_SECRET_KEY: "#{ open_webui_client_secret }#"
