---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
stringData:
  SECRET_DOMAIN: "#{ domain.name }#"
  SECRET_NFS_SVC: "#{ samba.internal }#"
  SECRET_GATEWAY_VIP: "#{ gateways.dns }#"
  SECRET_PIHOLE_SVC: "#{ pihole.internal }#"
  SAMBA_LB_IP: "#{ samba.loadbalance }#"
  PIHOLE_API: "#{ pihole.api }#"
  SECRET_AUTHENTIK_DB_PASSWORD: "#{ authentik.postgres_password }#"
  SECRET_AUTHENTIK_SECRET_KEY: "#{ authentik.secret_key }#"
  SECRET_POSTGRES_SVC: "#{ cloudnative.internal }#"
  SECRET_SMTP_SVC: "#{ smtp.internal }#"
  SECRET_ALERT_MANAGER_DISCORD_WEBHOOK: "#{ alert_manager.discord_webhook }#"
  SECRET_ALERT_MANAGER_SLACK_WEBHOOK: "#{ alert_manager.slack_webhook }#"
  SECRET_SUNSHINE_SVC: "#{ sunshine.internal }#"
  SMB_PASS: "#{ samba.password }#"
  TIMEZONE: "Asia/Kuala_Lumpur"
  HA_API: "#{ homeassistant.api }#"
  LAT: "#{ location.latitude }#"
  LONG: "#{ location.longitude }#"
  SONARR_API: "#{ sonarr.api }#"
  RADARR_API: "#{ radarr.api }#"
  SABNZBD_API: "#{ sabnzbd.api }#"
  MEALIE_API: "#{ mealie.api }#"
  NEXTCLOUD_API: "#{ nextcloud.api }#"
  PAPERLESS_API: "#{ paperless.api }#"
  BAZARR_API: "#{ bazarr.api }#"
  IMMICH_API: "#{ immich.api }#"
  JELLYFIN_API: "#{ jellyfin.api }#"
  JELLYSEERR_API: "#{ jellyseerr.api }#"
  LIDARR_API: "#{ lidarr.api }#"
  PROWLARR_API: "#{ prowlarr.api }#"
