apiVersion: v1
kind: Secret
metadata:
  name: hermes-secret
type: Opaque
stringData:
  API_SERVER_KEY: "#{ hermes.api }#"
  HERMES_DASHBOARD_BASIC_AUTH_USERNAME: "#{ hermes.username }#"
  HERMES_DASHBOARD_BASIC_AUTH_PASSWORD: "#{ hermes.password }#"
  HERMES_DASHBOARD_BASIC_AUTH_SECRET:  "#{ hermes.secret }#"
  # GH_TOKEN: ""
  HASS_TOKEN: "#{ homeassistant.api }#"
  HASS_URL: "http://home-assistant.default.svc.cluster.local:8123"
