apiVersion: v1
kind: Secret
metadata:
  name: hermes-secret
  namespace: devops
type: Opaque
stringData:
  API_SERVER_KEY: "#{ hermes.api }#"
  HERMES_DASHBOARD_BASIC_AUTH_USERNAME: "#{ hermes.username }#"
  HERMES_DASHBOARD_BASIC_AUTH_PASSWORD: "#{ hermes.password }#"
  HERMES_DASHBOARD_BASIC_AUTH_SECRET:  "#{ hermes.secret }#"
