---
apiVersion: v1
kind: Secret
metadata:
    name: steam
type: Opaque
stringData:
    USER_PASSWORD: "#{ paperless.admin_user }#"
    SUNSHINE_USER: "#{ paperless.admin_password }#"
    SUNSHINE_PASS: "#{ paperless.admin_password }#"
