---
kind: Secret
apiVersion: v1
type: Opaque
metadata:
    name: mealie
stringData:
    POSTGRES_USER: "#{ cloudnative_user }#"
    POSTGRES_PASSWORD: "#{ cloudnative_password }#"
    INIT_POSTGRES_SUPER_PASS: "#{ cloudnative_password }#"
    OIDC_CLIENT_SECRET: "#{ mealie_secret }#"
