---
apiVersion: v1
kind: Secret
metadata:
    name: paperless
stringData:
    INIT_POSTGRES_DBNAME: paperless
    INIT_POSTGRES_HOST: postgres-rw.database.svc.cluster.local
    INIT_POSTGRES_USER: "#{ cloudnative.username }#"
    INIT_POSTGRES_PASS: "#{ cloudnative.password }#"
    INIT_POSTGRES_SUPER_PASS: "#{ cloudnative.password }#"
    PAPERLESS_DBPASS: "#{ cloudnative.password }#"
    PAPERLESS_DBUSER: "#{ cloudnative.username }#"
    PAPERLESS_DBNAME: paperless
    PAPERLESS_ADMIN_USER: "#{ paperless.admin_user }#"
    PAPERLESS_ADMIN_PASSWORD: "#{ paperless.admin_password }#"
    PAPERLESS_SECRET_KEY: "#{ paperless.secret_key }#"
    PAPERLESS_SOCIALACCOUNT_PROVIDERS: |
          {
            "openid_connect": {
              "APPS": [
                {
                  "provider_id": "authentik",
                  "name": "Authentik",
                  "client_id": "#{ paperless.client_id }#",
                  "secret": "#{ paperless.client_secret }#",
                  "settings": {
                    "server_url": "https://auth.#{ domain.name }#/application/o/paperless/.well-known/openid-configuration"
                  }
                }
              ]
            }
          }

