---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: devops
components:
  - ../../components/sops
  - ../../components/repos
resources:
  - ./gha-runner-scale-set-controller/ks.yaml
  - ./gha-runner-scale-set/ks.yaml
  # - ./ollama/ks.yaml
  # - ./openclawd/ks.yaml
  - ./namespace.yaml
  # - ./sparknova/ks.yaml
  # - ./kafka/ks.yaml
  # - ./geoserver/ks.yaml
