---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: garage-data
spec:
  storageClassName: zfs-k8s-0-library
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
