apiVersion: v1
kind: Secret
metadata:
    name: garage-secret
stringData:
    GARAGE_RPC_SECRET: "#{ garage.rpc_secret }#"
    GARAGE_ADMIN_TOKEN:  "#{ garage.admin_token }#"
    GARAGE_METRICS_TOKEN: "#{ garage.metrics_token }#"
