---
apiVersion: v1
kind: Secret
metadata:
    name: wallabag
stringData:
    INIT_POSTGRES_DBNAME: wallabag
    INIT_POSTGRES_HOST: &dbHost postgres-rw.database.svc.cluster.local
    INIT_POSTGRES_USER: &dbUser "#{ cloudnative_user }#"
    INIT_POSTGRES_PASS: &dbPass "#{ cloudnative_password }#"
    INIT_POSTGRES_SUPER_PASS: "#{ cloudnative_password }#"
    # App
    SYMFONY__ENV__DATABASE_DRIVER: pdo_pgsql
    SYMFONY__ENV__DATABASE_HOST: *dbHost
    SYMFONY__ENV__DATABASE_PORT: "5432"
    SYMFONY__ENV__DATABASE_NAME: wallabag
    SYMFONY__ENV__DATABASE_USER: *dbUser
    SYMFONY__ENV__DATABASE_PASSWORD: *dbPass
