---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
stringData:
  SECRET_DOMAIN: "#{ cloudflare_domain }#"
  SECRET_NFS_SVC: "#{ nfs_svc }#"
  SECRET_GATEWAY_VIP: "#{ cluster_dns_gateway_addr }#"
  SECRET_PIHOLE_SVC: "#{ pihole_svc }#"
  SAMBA_LB_IP: "#{ samba_lb_ip }#"
  PIHOLE_API: "#{ pihole_api }#"
  AUTHENTIK_API: "#{ authentik_api }#"
  SECRET_AUTHENTIK_DB_PASSWORD: "#{ authentik_POSTGRES_PASS }#"
  SECRET_AUTHENTIK_SECRET_KEY: "#{ authentik_secret_key }#"
  SECRET_POSTGRES_SVC: "#{ postgres_svc }#"
  SMB_PASS: "#{ smb_pass }#"
  TIMEZONE: "Asia/Kuala_Lumpur"
  HA_API: "#{ ha_api }#"
  LAT: "#{ lat }#"
  LONG: "#{ long }#"
  SONARR_API: "#{ sonarr_api }#"
  RADARR_API: "#{ radarr_api }#"
  SABNZBD_API: "#{ sabnzbd_api }#"
  MEALIE_API: "#{ mealie_api }#"
  NEXTCLOUD_API: "#{ nextcloud_api }#"
  PAPERLESS_API: "#{ paperless_api }#"
  BAZARR_API: "#{ bazarr_api }#"
  IMMICH_API: "#{ immich_api }#"
  JELLYFIN_API: "#{ jellyfin_api }#"
  JELLYSEERR_API: "#{ jellyseerr_api }#"
  LIDARR_API: "#{ lidarr_api }#"
  PROWLARR_API: "#{ prowlarr_api }#"
