---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
stringData:
  SECRET_DOMAIN: "#{ cloudflare_domain }#"
  SECRET_POSTGIS_SVC: "#{ postgres_svc }#"
  SECRET_GATEWAY_VIP: "#{ cluster_dns_gateway_addr }#"
  SECRET_PIHOLE_SVC: "#{ pihole_svc }#"
  PIHOLE_API: "#{ pihole_api }#"
