---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
stringData:
  SECRET_DOMAIN: "#{ cloudflare_domain }#"
  SECRET_POSTGIS_SVC: "#{ postgres_svc }#"
  SECRET_GATEWAY_VIP: "#{ cluster_dns_gateway_addr }#"
  SECRET_PIHOLE_SVC: "#{ pihole_svc }#"
  PIHOLE_API: "#{ pihole_api }#"
  AUTHENTIK_API: "#{ authentik_api }#"
  SECRET_AUTHENTIK_DB_PASSWORD: "#{ authentik_POSTGRES_PASS }#"
  SECRET_AUTHENTIK_SECRET_KEY: "#{ authentik_secret_key }#"
  TIMEZONE: "Asia/Kuala_Lumpur"
  HA_API: "#{ ha_api }#"
