---
kind: Secret
apiVersion: v1
type: Opaque
metadata:
    name: mealie
stringData:
    POSTGRES_USER: "#{ cloudnative.username }#"
    POSTGRES_PASSWORD: "#{ cloudnative.password }#"
    INIT_POSTGRES_SUPER_PASS: "#{ cloudnative.password }#"
    OIDC_CLIENT_SECRET: "#{ mealie.secret }#"
