---
apiVersion: v1
kind: Secret
metadata:
    name: openclaw
stringData:
  OPENCLAW_GATEWAY_TOKEN: "#{ open_webui_client_id }#"
  DISCORD_BOT_TOKEN: "#{ open_webui_client_secret }#"
  ANTHROPIC_API_KEY: "#{ open_webui_redirect }#"
  GH_TOKEN: "https://chad.${SECRET_DOMAIN}/oauth/oidc/callback"
  openclaw.json: |
            {
              "agents": {
                "list": [
                  {
                    "id": "main",
                    "default": true,
                    "name": "Assistant",
                    "workspace": "/home/node/.openclaw/workspace"
                  },
                  {
                    "id": "coding",
                    "name": "Coder",
                    "workspace": "/home/node/.openclaw/workspace-coding",
                    "model": "gateway/auto-coding",
                    "tools": {
                      "allow": ["read", "write", "edit", "exec", "apply_patch", "browser"]
                    }
                  }
                ],
                "defaults": {
                  "model": { primary: "ollama/deepseek-r1:1.5b" },
                  "models": {
                    "ollama/deepseek-r1:latest": { alias: "DeepseekLatest" },
                    "ollama/deepseek-r1:1.5b": { alias: "DeepseekMini" },
                  }
                }
              },
              "models": {
                "mode": "merge",
                "providers": {
                  "ollama": {
                    "baseUrl": "http://ollama.devops.svc.cluster.local:11434",
                    "apiKey": "sk-3c87b5194c87495ab3367fda0a1b5134",
                    "api": "openai-completions",
                    "models": [
                      {
                        "id": "deepseek-r1:1.5b",
                        "name": "deepseek-r1 1.5b",
                        "reasoning": false,
                        "input": ["text"],
                        "cost": {
                          "input": 0,
                          "output": 0,
                          "cacheRead": 0,
                          "cacheWrite": 0
                        },
                        "contextWindow": 128000,
                        "maxTokens": 8192
                      }
                    ]
                  }
                }
              },
              "gateway": {
                "mode": "local",
                "auth": {
                  "mode": "token",
                  "token": "#{ open_webui_client_id }#"
                },
                "trustedProxies": ["10.42.0.0/16", "10.43.0.0/16"]
              },
              "tools": {
                "web": {
                  "search": {
                    "enabled": true,
                    "provider": "brave"
                  }
                }
              }
            }
