---
apiVersion: v1
kind: Secret
metadata:
    name: clawdbot
stringData:
  OPENCLAW_GATEWAY_TOKEN: "#{ open_webui_client_id }#"
  DISCORD_BOT_TOKEN: "#{ open_webui_client_secret }#"
  ANTHROPIC_API_KEY: "#{ open_webui_redirect }#"
  GH_TOKEN: "https://chad.${SECRET_DOMAIN}/oauth/oidc/callback"
