---
apiVersion: v1
kind: Secret
metadata:
    name: nextcloud-secret
stringData:
    ADMIN_USER: "#{ nextcloud.user }#"
    ADMIN_PASS: "#{ nextcloud.password }#"
    REDIS_PASSWORD: "#{ nextcloud.redis_password }#"
    S3_ACCESS_KEY: "#{ s3.aws_access_id }#"
    S3_SECRET_KEY: "#{ s3.aws_secret_access_key }#"


    SMTP_USERNAME: "#{ smtp.username }#"
    SMTP_PASSWORD: "#{ smtp.password }#"
    TOKEN: ""
    SMTP_HOST: smtp-relay.network.svc.cluster.local

    OIDC_CLIENT_ID:  "#{ nextcloud.client_id }#"
    OIDC_CLIENT_SECRET: "#{ nextcloud.client_secret }#"
    # Postgres Init
    INIT_POSTGRES_DBNAME: nextcloud
    INIT_POSTGRES_HOST:  postgres-rw.database.svc.cluster.local
    INIT_POSTGRES_USER: "#{ nextcloud.db_user }#"
    INIT_POSTGRES_PASS:  "#{ nextcloud.db_password }#"
    INIT_POSTGRES_SUPER_PASS: "#{ cloudnative.password }#"

