apiVersion: v1
kind: Secret
metadata:
    name: minio-secret
stringData:
    MINIO_ROOT_USER: "#{ minio_root_user }#"
    MINIO_ROOT_PASSWORD: "#{ minio_root_password }#"
    # openid-config-url: "#{ minio_openid_config_url }#"
    # openid-config-client-id: "#{ minio_openid_config_client_id }#"
    # openid-config-client-secret: "#{ minio_openid_config_client_secret }#"
    # openid-config-scopes: "openid,email,profile,minio"
    # openid-config-callback-uri: "#{ minio_openid_config_callback_uri }#"
